﻿<!DOCTYPE html>
<html check-user-logged="true">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/scripts/LabApp")
    @*<script src="http://52.24.213.64/AngLabRest/api/script/user%40gmail" type="text/javascript"></script>*@
</head>
<body ng-app="LabApp">
    @RenderBody()
    <div id="footer" class="container">
        <nav class="navbar navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">
                <p class="text-center">Check the console.</p>
            </div>
        </nav>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            {{message}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</body>
</html>
@RenderSection("featured", false)