﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}


#footer .navbar, header .navbar
{
    background-color: black;
    color: #fff !important;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.maincontainer {
    bottom: 50px;
    top: 50px;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    background-color: white;
}

.inset
{
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 5px 5px 5px 5px;
    background-color: white;
    position:absolute;
    overflow-y: auto;
    overflow-x: hidden;
}