﻿<h3>Module and injection</h3>
<div class="row">
    <div ng-if="isRegistered == false">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-11">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@@</span>
                        <input type="email" class="form-control" placeholder="Correo" aria-describedby="basic-addon1" ng-model="form.email">
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="form.name">
                    </div>
                </div>    
            </div>
            <div class="col-md-11">
                <input type="button" ng-click="register()" value="Enviar" class="pull-right btn btn-primary"/>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Do:</h3>
            <p>
                If you check the script's folders, there is one service folder with an existing register service, you just need to add this module to your application module and use it.
                <br/>
                The steps that you need to accomplish this phase are:
                <ol>
                    <li>Add the service module to your application module</li>
                    <li>Inject the reference to the specific service in the FirstController</li>
                </ol>
                Just to let you know, the first that you need to do in angular is create the main application (or module), in our case the main module is app
                <br/>
                <code>
                    var app = angular.module('LabApp', ["ngRoute"]);
                </code>
                <br />
                Also, we have another module that is called LabServices, but those are two different modules, you need to include one into the other to use it, so, you need to add the service into the main module to use. That completed your fisrt task and you learned how to include namespaces into your project.
                <br />
                <br />
                The other think that we need to understand is the dependency injection in angular, you can see that the FirstCtrl use a variable called 'RegisterSvc', but it is not defined, you need to add it to the parameters of the function, and angular is going to inject it, but you need to tell angular what it need to inject in the parameter, that is the second thing that you need to research.
            </p>
        </div>
    </div>
    <div ng-if="isRegistered">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>Phase 1 completed. Move on</h1>
            </div>
        </div>
    </div>
</div>