﻿<div class="inset">
    <div class="row">
        <div class="col-md-12">
            <h1 id="what-is-a-module-" class="ng-scope">What is a Module?</h1>
            <p class="ng-scope">You can think of a module as a container for the different parts of your app – controllers, services, filters, directives, etc.</p>
            <h1 id="why-" class="ng-scope">Why?</h1>
            <p class="ng-scope">Most applications have a main method that instantiates and wires together the different parts of the application.</p>
            <p class="ng-scope">Angular apps don't have a main method. Instead modules declaratively specify how an application should be bootstrapped. There are several advantages to this approach:</p>
            <ul class="ng-scope">
                <li>The declarative process is easier to understand.</li>
                <li>You can package code as reusable modules.</li>
                <li>The modules can be loaded in any order (or even in parallel) because modules delay execution.</li>
                <li>Unit tests only have to load relevant modules, which keeps them fast.</li>
                <li>End-to-end tests can use modules to override configuration.</li>
            </ul>
            <h1 class="ng-scope">Our code</h1>
            <p>
                Check our code, we have a module in the section /Scripts/lab/service/ServiceConfig.js
                As you can see here, we create a module called LabServices and it has one service to register a user.
            </p>
            <h1>How to use it?</h1>
            <p>
                If you check the file Scripts/lab/layout.js, you will see that:
                <br/>
                <code>
                    var app = angular.module('LabApp', ["ngRoute", "LabServices"]);
                </code>
                <br/>
                As we can see he`way to use the module that we created it, it's adding this module to the new module that we are creating
            </p>
            <h1>Task</h1>
            <p>You need to create a factory with the tipical functions for a RESTful API (GET,POST,PUT,DELETE) for a mocking API url (called MockApi), for the methods use the same names get, post, put, delete in lower case</p>
            <p>Just to let you know right now exists  global javascript variable called labSession, it has your name, a mocking api url and little bit more information if you need it</p>
            <p>Add this provider to a new module that you need to create with the Name 'MockingService' and add this module to the current application module as we do in the first step</p>
        </div>
    </div>
</div>